<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BoA codeWeek 2017 - CCNY Team2</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/grayscale.css" rel="stylesheet">

  </head>

  <div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img src="http://osmhotels.com//assets/check-true.jpg">
        <h3>Hello User,</h3>
        <p>Thank you for testing this demonstration.</p>
        <p>Your result is:</p>

        <h2>FRADULENT TRANSACTION</h2>
        
        <form action="/fraud" method=POST>
            <input type="submit" value="Home" class="btn btn-primary btn-large btn-block">
        </form>

        <!-- <input class="btn btn-success" type="submit" name="submit" value="goback">
 -->
        <br><br>
        </div>
        
    </div>
</div>



  
</html>
